*.csv
*.pkl
*.xlsx
PythonScripts/
*.stats
out.txt
__pycache__/
*.ipynb_checkpoints/
#*.ipynb
optimization/cvxportfolio/
optimization/painting/
*.log
!data/quant_code/
!data/stats/*.pkl
!optimization/risk_parity/assets.csv
